<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.basal.app.mapper.AppUserMapper">

    <select id="selectByUserId" resultType="org.dromara.basal.app.domain.AppInfo">
        SELECT a.*
        FROM app_user u INNER JOIN app_info a
        ON a.user_id = u.user_id AND u.user_id = #{userId}
    </select>

</mapper>
