<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.basal.thoughts.mapper.ThotAlbumThoughtMapper">

    <resultMap type="org.dromara.basal.thoughts.domain.vo.ThotAlbumThoughtVo" id="AlbumThoughtResult"/>

    <select id="selectAlbumThoughtByAlbumId" parameterType="Long" resultMap="AlbumThoughtResult">
        SELECT tat.id,
               tat.album_id,
               tat.is_cover,
               tat.create_time,
               tt.thought_id,
               tt.code,
               tt.title,
               tt.main_img,
               tt.banner_img,
               tt.status,
               ta.album_title
        FROM thot_album_thought tat
                 LEFT JOIN thot_thought tt ON tat.thought_id = tt.thought_id
                 LEFT JOIN thot_album ta ON tat.album_id = ta.album_id
        WHERE tat.album_id = ${albumId}
    </select>

    <select id="selectAlbumThoughtByThoughtId" parameterType="Long" resultMap="AlbumThoughtResult">
        SELECT tat.id,
               tat.album_id,
               tat.is_cover,
               tat.create_time,
               tt.thought_id,
               tt.code,
               tt.title,
               tt.main_img,
               tt.banner_img,
               tt.status,
               ta.album_title
        FROM thot_album_thought tat
                 LEFT JOIN thot_thought tt ON tat.thought_id = tt.thought_id
                 LEFT JOIN thot_album ta ON tat.album_id = ta.album_id
        WHERE tat.thought_id = ${thoughtId}
    </select>

    <select id="selectAlbumThought" resultMap="AlbumThoughtResult">
        SELECT tat.id,
               tat.album_id,
               tat.is_cover,
               tat.create_time,
               tt.thought_id,
               tt.code,
               tt.title,
               tt.main_img,
               tt.banner_img,
               tt.status,
               ta.album_title
        FROM thot_album_thought tat
                 LEFT JOIN thot_thought tt ON tat.thought_id = tt.thought_id
                 LEFT JOIN thot_album ta ON tat.album_id = ta.album_id
        WHERE tat.album_id = ${albumId} AND tat.thought_id = ${thoughtId} LIMIT 1
    </select>

</mapper>
